---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

# Sitemap
Sitemap: https://ashishkdmathpal.github.io/Accounting-brains/sitemap.xml

# Disallow admin pages
Disallow: /admin/
